<!DOCTYPE html>
<html lang="zh-CN" data-loading="true">
<head>
<meta charset="UTF-8">
<title>One Last Image - 卢浮宫生成器 - One Last Kiss 风格 封面生成 图片转线稿 - 神奇海螺实验室</title>
<link rel="stylesheet" href="document.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="One Last Kiss 卢浮宫生成器 风格 图片转线稿 封面生成 宇多田光 神奇海螺实验室">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon" href="icon.jpg">
<link rel="manifest" href="manifest.json" crossorigin="use-credentials">
</head>
<body>

<div class="app" :data-runing="runing" :data-loading="loading">
	<header>
		<h1>
			One Last Image
		</h1>
		<!-- <p>One Last Kiss 风格 图片转线稿 封面生成器</p> -->
		<!-- <img src="../one-last-image-logo-color.png"> -->
	</header>
	<div class="main-box">
		<div class="preview-box" 
			:data-cover="style.cover"
			data-runing="true"
			:data-diff="diff"
			:data-runing="runing"
			@touchstart.prevent="toDiff()"
			@touchend.prevent="diff = false"
			@mousedown.prevent="toDiff()"
			@mouseup.prevent="diff = false"
			@mouseout.prevent="diff = false">
			<img ref="img" 
				src="images/asuka-8.jpg"
				alt=""
				:src="src" 
				:style="sizeStyle">
			<canvas ref="canvas" 
				:style="sizeStyle"></canvas>
		</div>
		<div class="ctrl-box">
			<button class="btn"
				:class="{current: !isDefaultImageURL}"
				@click="chooseFile()">选择图片</button>
			<a class="btn" 
				:class="{current: isDefaultImageURL}"
				@click="save()" 
				:href="output"
				:disabled="runing"
				:download="downloadFilename"
				v-text="runing?'生成中…':'保存图片'"
				></a>
			<!-- <button @click="louvre()" class="generator-btn"></button> -->
			<div class="config-box">
				<!-- <div class="label-box">
					<b>light</b>
					<input type="range" v-model.number="style.light"
						min="-100" max="100" step=".1">
					<span v-text="style.light"></span>
				</div> -->
		<!-- 
				<div class="label-box">
					<b>s</b>
					<input type="range" v-model.number="style.s"
						min="0" max="100" step="1">
					<span v-text="style.s"></span>
				</div>
				<div class="label-box">
					<b>l</b>
					<input type="range" v-model.number="style.l"
						min="0" max="100" step="1">
					<span v-text="style.l"></span>
				</div> -->
				<ui-tabs v-model="style.convoluteName" :options="convolutes" @input="_louvre(50)"></ui-tabs>
	
				<!-- <div class="label-box">
					<label>
						<input type="checkbox" v-model="style.convolute1Diff">卷曲diff
					</label>
				</div> -->
				<div class="style-filter">
					<!-- <ui-switch v-model="style.cover">方形</ui-switch> -->
					<ui-switch v-model="style.denoise" @input="_louvre(50)">降噪</ui-switch>
					<ui-switch v-model="style.kuma" @input="_louvre(50)">Kiss</ui-switch>
					<!-- <ui-switch v-model="style.shade" :disabled="!style.kuma" @input="_louvre(50)">调子</ui-switch> -->
					<ui-switch v-model="style.watermark" @input="_louvre(50)">水印</ui-switch>
					<ui-switch v-model="style.hajimei" :disabled="!style.watermark" @input="_louvre(50)">初回</ui-switch>
				</div>
				<!-- <div class="label-box">
					<label>
						<input type="checkbox" v-model="style.shade">调子
					</label>
					<label>
						<input type="checkbox" v-model="style.cover">方形
					</label>
					<label>
						<input type="checkbox" v-model="style.kuma">Kiss
					</label>
					<label>
						<input type="checkbox" v-model="style.watermark">水印
					</label>
					
					<label>
						<input type="checkbox" v-model="style.hajimei" :disabled="!style.watermark">初回
					</label>
				</div> -->
	
				<!-- <div class="label-box">
					<b>contrast</b>
					<input type="range" v-model.number="style.contrast"
						min="1" max="100" step=".1">
					<span v-text="style.contrast"></span>
				</div> -->
	
				<!-- <div class="label-box" style="padding:10px 0;">
					<b>线条方案2</b>
					<label>
						<input type="radio" v-model="style.convoluteName2" :value="null">null
					</label>
					<label v-for="con,convoluteName in Convolutes">
						<input type="radio" v-model="style.convoluteName2" :value="convoluteName">{{convoluteName}}
					</label>
				</div> -->
	
				<!-- <div class="label-box">
					<label>
						<input type="checkbox" v-model="style.invertLight">颠倒黑白
					</label>
				</div> -->
	
				<!-- <div class="label-box">
					<b>高亮切断</b>
					<input type="range" v-model.number="style.lightCut"
						min="0" max="128" step="1">
					<span v-text="style.lightCut"></span>
				</div> -->
				<div class="label-box range-box">
					<div class="head">
						<b>线迹轻重</b>
						<span v-text="style.darkCut"></span>
					</div>
					<input type="range" title="线迹轻重" v-model.number="style.darkCut"
						min="80" max="126" step="1">
				</div>
				<div class="label-box range-box">
					<div class="head">
						<b>调子数量</b>
						<span v-text="style.shadeLimit"></span>
					</div>
					<input type="range" title="调子数量" v-model.number="style.shadeLimit"
						min="20" max="200" step="1">
				</div>
				<!-- <div class="label-box range-box">
					<div class="head">
						<b>调子轻重</b>
						<span v-text="style.shadeLight"></span>
					</div>
					<input type="range" v-model.number="style.shadeLight"
						min="10" max="70" step="1">
				</div> -->
				<!-- <div class="label-box">
					<label>
						<input type="checkbox" v-model="style.hue">色轮
					</label>
				</div>
				<div class="label-box">
					<b>色轮压缩</b><input type="range" v-model.number="style.hueGroup"
						min="10" max="255" step="1">
						<span v-text="style.hueGroup"></span>
				</div> -->
			</div>
			<div class="tips-box">
				<p>
					建议上传
					<b>赛璐珞风格</b> 的 
					<b>动画截图</b>、<b>插画</b>
					等，效果最佳
				</p>
				<p>
					高清图请务必
					<a @click="style.denoise = false">关闭降噪</a>
					线条更精致
				</p>
				<p>
					也可以
					<a @click="saveDiff()">生成对比图</a>
					方便分享
				</p>
				<!-- <p>
					移动端请使用
					<b>自带浏览器</b>
					进行保存
				</p> -->
			</div>
		</div>
	</div>
	<div class="loading-box" v-show="loading" @animationEnd.salf="init()">
		<!-- <h2>
			One Last Image
			/
			Magic Conch
		</h2> -->
		<img src="one-last-image-new.svg" alt="">
	</div>
	<div class="ui-shadow" v-if="output" v-clock>
		<div class="output-box">
			<h2>生成好啦</h2>
			<img :src="output" :alt="downloadFilename" alt="">
			<!-- <p>
				<a :href="output">链接形式跳转到图片</a>
			</p> -->
			<p>手机端保存失败时可尝试长按图片 <b>“添加到照片”</b></p>
			<p>如果能在发布生成图时，标注当前项目信息会很开心🤒</p>
			<div class="ctrl-box">
				<button class="btn current" @click="output = ''">关闭窗口</button>
			</div>
			<div>
				<a @click="save()">不对比</a>、
				<a @click="saveDiff()">上下对比图</a>、
				<a @click="saveDiff2()">斜切对比图</a>
				<br>
				<div class="label-box range-box">
					<div class="head">
						<b>斜切位置</b>
						<span v-text="bevelPosition"></span>
					</div>
					<input type="range" title="斜切位置" v-model.number="bevelPosition"
						min="0" max="72" step="1" @input="_saveDiff2(50)">
				</div>
			</div>
		</div>
	</div>
	<footer>
		<!-- <a href="https://www.bilibili.com/video/BV1Sg411w7T9" target="_blank">MV</a>
		<hr> -->
		<a href="https://lab.magiconch.com/magi/" target="_blank" rel="noopener noreferrer">Magi</a>
		<a href="https://lab.magiconch.com/eva-title/" target="_blank" rel="noopener noreferrer">标题生成器</a>
		<a href="https://v.magiconch.com/mine-sweeper" target="_blank" rel="noopener noreferrer">扫雷</a>
		<br>
		<a href="https://github.com/itorr/one-last-image" target="_blank" rel="noopener noreferrer">GitHub</a>
		<a href="https://lab.magiconch.com" target="_blank" rel="noopener noreferrer">神奇海螺实验室</a>
		<a href="https://weibo.com/1197780522/M19X18EGP" target="_blank" rel="noopener noreferrer">@卜卜口</a>
	</footer>

	<div class="lyric-box">
		<div class="list" :style="{
			transform: `translateY(-${lyricIndex * 48}px)`
		}" v-if="lyrics">
			<div class="item" 
			v-for="lyric,index in lyrics"
			:data-current="index === lyricIndex"
			:data-s="lyric[0]"
			:key="lyric[0]"
			:data-have-cn="!!lyric[2]">
				<div class="text">
					<a 
					:href="`https://www.bilibili.com/video/BV1Sg411w7T9?t=${Math.floor((+lyric[0]+7)*10)/10}`" 
					v-text="lyric[1]"
					target="_mv"
					></a>
				</div>
				<div class="cn" v-if="lyric[2]" v-text="lyric[2]"></div>
			</div>
		</div>
	</div>
</div>

<script src="vue.2.6.11.min.js"></script>
<script src="color.js"></script>
<script src="lyric.js"></script>
<!-- <script src="bezier-easing.js"></script> -->
<script src="louvre.js"></script>
<script src="ui-tabs.vue.js"></script>
<script src="ui-switch.vue.js"></script>
<script src="document.js"></script>
</body>
</html>